<section class="register">
  <div class="boxRegister">
    <div class="card-body">

      <a href="javascript:void(0)" class="text-center db"><img src="../assets/images/logo-icon.png"
          alt="Home" /><br /><img src="../assets/images/logo-text.png" alt="Home" /></a>

      <h3 class="box-title m-t-40 m-b-0">Register Now</h3><small>Create your account and enjoy</small>

      <form class="form-horizontal form-material" id="loginform" [formGroup]="registerForm" autocomplete="off">

        <div class="form-group m-t-20">
          <div class="col-xs-12">
            <input class="form-control" formControlName="nombre" type="text" placeholder="Name">
            <ng-container>
              <div class="mt-1" *ngIf="registerForm.get('nombre').invalid && registerForm.get('nombre').touched">
                <div *ngIf="registerForm.get('nombre').errors.required" class="alert alert-danger">
                  El nombre es obligatorio
                </div>
                <div *ngIf="registerForm.get('nombre').errors.minlength" class="alert alert-danger">
                  El nombre debe tener al menos 3 caracteres
                </div>
                <div *ngIf="registerForm.get('nombre').errors.maxlength" class="alert alert-danger">
                  El nombre debe tener maximo 10 caracteres
                </div>
              </div>
            </ng-container>

          </div>
        </div>

        <div class="form-group m-t-20">
          <div class="col-xs-12">
            <input class="form-control" formControlName="apellidos" type="text" placeholder="lastname">
          </div>
          <ng-container>
            <div class="mt-1" *ngIf="registerForm.get('apellidos').invalid && registerForm.get('apellidos').touched">
              <div *ngIf="registerForm.get('apellidos').errors.required" class="alert alert-danger">
                El apellido es requerido
              </div>
              <div *ngIf="registerForm.get('apellidos').errors.minlength" class="alert alert-danger">
                El apellido debe tener al menos 3 caracteres
              </div>
              <div *ngIf="registerForm.get('apellidos').errors.maxlength" class="alert alert-danger">
                El apellido debe tener maximo 10 caracteres
              </div>
            </div>
          </ng-container>

        </div>

        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="email" formControlName="email" placeholder="Email">
          </div>
          <ng-container>
            <div class="mt-1" *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched">
              <div *ngIf="registerForm.get('email').errors.required" class="alert alert-danger">
                El email es requerido
              </div>
              <div *ngIf="registerForm.get('email').errors.email" class="alert alert-danger">
                El email no es valido
              </div>
            </div>
          </ng-container>
        </div>

        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="password" formControlName="password" placeholder="Password">
          </div>

          <ng-container>
            <div class="mt-1" *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched">
              <div *ngIf="registerForm.get('password').errors.required" class="alert alert-danger">
                La contraseña es requerida
              </div>
              <div *ngIf="registerForm.get('password').errors.minlength" class="alert alert-danger">
                La contraseña debe tener al menos 6 caracteres
              </div>
              <div *ngIf="registerForm.get('password').errors.maxlength" class="alert alert-danger">
                La contraseña debe tener maximo 30 caracteres
              </div>
            </div>
          </ng-container>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control" type="password" formControlName="password2" placeholder="Confirm Password">
          </div>

          <ng-container>
            <div class="mt-1" *ngIf="registerForm.get('password2').invalid && registerForm.get('password2').touched">
              <div *ngIf="registerForm.get('password2').errors.required" class="alert alert-danger">
                Debe volver a escribir la contraseña
              </div>
              <div *ngIf="registerForm.get('password2').errors.minlength" class="alert alert-danger">
                La contraseña debe tener al menos 6 caracteres
              </div>
              <div *ngIf="registerForm.get('password2').errors.maxlength" class="alert alert-danger">
                La contraseña debe tener maximo 30 caracteres
              </div>

            </div>
          </ng-container>
          <div ngClass="mt-1" *ngIf="contrasenasCoinciden === true" class="alert alert-danger">
            Las contraseñas no coinciden
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-12">
            <div class="checkbox checkbox-primary p-t-0">
              <input id="checkbox-signup" type="checkbox" formControlName="terminos">
              <label for="checkbox-signup"> I agree to all <a href="#">Terms</a></label>
            </div>

            <ng-container *ngIf="registerForm.get('terminos').invalid && registerForm.get('terminos').touched">
              <div class="mt-1" *ngIf="registerForm.get('terminos').errors.required" class="alert alert-danger">
                Debe aceptar los terminos y condiciones
              </div>
            </ng-container>

          </div>
        </div>

        <ng-container *ngIf="registerForm.valid && contrasenasCoinciden === false; else noValid">
          <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
              <button class="btn btn-success btn-lg btn-block text-uppercase waves-effect waves-light btn-rounded"
                (click)="grabarUsuario()">Sign Up </button>
            </div>
          </div>
        </ng-container>

        <ng-template #noValid>
          <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
              <button class="btn btn-dark btn-lg btn-block text-uppercase waves-effect waves-light btn-rounded"
                (click)="validarCamporFormulario()">Sign Up </button>
            </div>
          </div>
        </ng-template>

        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            <p>Already have an account? <a routerLink="/login" class="text-info m-l-5"><b>Sign In</b></a></p>
          </div>
        </div>

      </form>
    </div>
  </div>
</section>